* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1 {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

p {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
}

h3,
.p {
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

div {
    margin-bottom: 10px;
}