* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF2F2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    height: 380px;

}

#left {
    background: #FFE5CD;
    padding: 32px;
}

#left .row {
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
}

#left .last-row {
    justify-content: space-between;
}

#left button {
    width: 36px;
    height: 36px;
    border: 4px solid #B22323;
    border-radius: 2px;
    background: #fff;
    color: #B22323;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

#left .locked {
    color: #fff;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
}

#right {
    background: #EBBE2D;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right h1 {
    transform: rotate(90deg);
    font-size: 3rem;
}