.box1 {
    width: 100%;
    height: 100vh;
}

.b,
.r,
.y {
    height: 33%;
    width: 100%;
}

.b {
    background-color: black;
}

.r {
    background-color: red;
}

.y {
    background-color: yellow;
}