* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

@media screen and (max-width:900px) {
    body {
        background-color: red;
    }
}