.a,
.b,
.c,
.d {
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
}

.a {
    margin: 40px;
}

.b {
    padding: 40px;
}

.c {
    border: 20px solid red;
}

.d {
    border: 20px solid red;
    padding: 40px;
    margin: 40px;
}